/* Common rules */
body {
  background-color: #fff;
  color: #212121;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
footer {
  background-color: #2f303a;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

/* Specific rules */
.logo {
  color: #000000;
}

.logo-word {
  color: #2196f3;
}
.hero-section {
  background-color: #2f303a;
  color: #fff;
}
.site-nav a {
  color: #212121;
}
.contacts {
  color: #757575;
}
.address {
  color: #fff;
}
