/* Common rules */
body {
  background-color: #fff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
footer {
  background-color: #2f303a;
}

/* Specific rules */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
}
.logo-word {
  color: #2196f3;
}
.hero-section {
  background-color: #2f303a;
  color: #fff;
}
.hero-section > h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
}
.site-nav a {
  color: #212121;
}
.contacts {
  color: #757575;
}
.address {
  color: #fff;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.hero-button {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.filter-buttons {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.filter-buttons:hover,
.filter-buttons:focus {
  background-color: #2196f3;
  color: #fff;
}
.benefits-title {
  display: none;
}
.benefits-list h3 {
  text-transform: uppercase;
}
.benefits-list p {
  color: #757575;
}
.team-section {
  background-color: #f5f4fa;
}
.team-section p {
  color: #757575;
}
.team-photos {
  background-color: #fff;
}
